.navbarName {
    /* display: flex; */
    /* justify-content:start; */
    /* align-items: center; */
    background-color: lightpink;
    color: green;
    padding: 3px;
    margin: 10 px;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 21px;
    
}


.navbar {
    /* display: flex; */
    /* justify-content: right; */
    /* align-items: center; */
    background-color: lightpink;
    color: green;
    padding: 3px;
    margin: 10 px;
    font-family: 'Tilt Neon', sans-serif;
    border-bottom: 2px solid black;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    
  }
  
  .spacing {
    margin: 10px;
  }
  .navlink{
    display: flex;
    /* justify-content: end; */
    font-size: 21px;
    padding: 10px;
    border: 5px 5px 5px 5px;
    margin-right: 10px;
    color: green;
    justify-content: space-between;
  }
  
  .navlink:hover {
    background-color: #08415c;
    border-radius: 5px;
  }
