.portfolio {
    margin-top: 43px;
    background-color: lightcoral;
    display: flex;
    height: 50vh;
    width: 50vh;
    border-style: solid;
    border-color: crimson;
    border-width: 10px;
    border-radius: 10px;
    /* border-radius: 45px; */
}